@import url(/css/fonts/poppins-font.css);

@tailwind base;
@tailwind components;

.swiper-slide {
  width: unset !important;
}

.swiper-scrollbar {
  width: 320px !important;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.swiper-scrollbar > div {
  background: theme('colors.primary') !important;
}

.swiper-wrapper .swiper-slide:last-child {
  margin-right: 2rem;
}

.swiper-coverflow .swiper-slide-active > div {
  color: white !important;
  background: theme('colors.primary') !important;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 2rem 3rem;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

@tailwind utilities;

@layer base {
  html,
  body {
    @apply font-poppins h-full font-light;
  }

  h1 {
    @apply font-semibold text-4xl;
  }

  h2 {
    @apply font-semibold text-5xl;
  }

  h6 {
    @apply font-semibold text-3xl leading-10;
  }
}
