---
title: Agrivator Blogs
layout: layouts/base.njk
pagination:
  data: collections.blogs
  size: 9
  alias: blogs
---

{% set blogList = blogs %}
{% include "partials/blogList.njk" %}

<section class="2xl:container flex items-center gap-2 px-4 lg:px-16 py-12 text-lg">
  {% for href in pagination.hrefs %}
    <a href="{{href}}" class="h-12 w-12 border text-center flex justify-center items-center {{ 'text-white bg-primary' if href==page.url }}">
      <p>{{loop.index}}</p>
    </a>
  {% endfor %}
</section>