---
title: Agrivator
layout: layouts/base.njk
---

<section class="container mx-auto p-5 pt-0 h-full max-h-[720px]">
    <div class="flex justify-between bg-secondary rounded-2xl px-6 h-full">
        <div class="flex flex-col flex-1 justify-center px-8">
            <h1 class="text-primary">
                Modernizing <br /> <span class="text-green-800">agriculture</span>
            </h1>
            <p class="my-6 text-zinc-500">
                We aim to bring a change in the field of agriculture by
                efficient combination of technologies like artificial
                intelligence with IOT and modern farming techniques.
            </p>
            <div class="flex items-center">
                <div class="mr-4">
                    <button
                        class="flex items-center justify-center rounded-full bg-primary w-14 h-14 shadow-lg hover:opacity-75">
                        <img src="static/img/triangle-right.svg" alt="play" />
                    </button>
                </div>
                <div class="text-lg text-primary">
                    About us
                </div>
            </div>
        </div>
        <div class="flex flex-1 justify-center items-center">
            <img src="static/img/home-farmer.svg" alt="farmer" class="w-[32rem] h-[32rem]">
        </div>
    </div>
</section>

<section class="container mx-auto px-16 py-9">
    <h2 class="text-primary text-center">
        Our Vision
    </h2>
    <div class="flex justify-between py-12 min-h-[720px]">
        {% for item in vision %}
        <div class="flex flex-col items-center max-w-sm {{ 'self-end' if loop.index0 % 2 }}">
            <div class="h-48 w-48">
                <img src="{{item.image}}" alt="drone" class="h-full w-full">
            </div>
            <div class="text-green-800 text-lg mt-2">
                {{item.title}}
            </div>
            <div>
                <p class="my-3 text-zinc-500 text-center">
                    {{item.content}}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section class="container mx-auto px-12 py-9">
    <h2 class="text-primary text-center">
        Our Products
    </h2>
    <div class="flex justify-between py-12">
        <div class="swiper h-[440px]">
            <div class="swiper-wrapper pt-4 px-4">
                {% for item in ourProducts %}
                <div class="swiper-slide">
                    <div
                        class="flex flex-col items-center px-8 py-4 w-[420px] h-[360px] shadow-3xl rounded-xl text-center text-primary hover:bg-primary hover:text-white transition-all">
                        <div class="rounded-full shadow-md bg-white h-32 w-32 flex justify-center items-center">
                            <img src="{{item.image}}" alt="{{item.title}}">
                        </div>
                        <div class="my-4 font-semibold text-xl">
                            {{item.title}}
                        </div>
                        <div>
                            {{item.content}}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</section>

<section class="container mx-auto px-16 py-9">
    <h2 class="text-primary text-center">
        What we offer
    </h2>
    <div class="flex justify-between py-12 min-h-[720px]">
        {% for item in whatWeOffer %}
        <div
            class="flex flex-col items-center justify-center max-w-sm rounded-full bg-secondary w-80 h-80 p-8 hover:bg-primary hover:text-white transition-all {{ 'self-end' if loop.index % 2 }}">
            <div class="mb-4">
                <img src="{{item.icon}}" alt="agrivator-offer" class="w-20 h-20 rounded-full">
            </div>
            <div class="text-lg text-center whitespace-pre-line">
                {{item.title}}
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="container mx-auto px-16 py-9 text-center">
    <h2 class="text-primary mb-2">
        Testimonials
    </h2>
    <p>
        See what people have to say about us
    </p>
    <div class="flex justify-between py-12">
        <div class="swiper swiper-coverflow h-[500px]">
            <div class="swiper-wrapper pt-4 px-4">
                {% for testimonial in testimonials %}
                <div class="swiper-slide">
                    <div
                        class="flex flex-col items-center p-12 w-[420px] h-[420px] shadow-3xl rounded-xl text-center text-lg text-primary bg-white hover:bg-primary hover:text-white transition-all">
                        <div class="mb-8 flex-grow flex items-center">
                            <span>"{{testimonial.content}}"</span>
                        </div>
                        <div class="rounded-full h-16 w-16 mb-4">
                            <img src="{{testimonial.image}}" alt="reviewer" class="rounded-full h-16 w-16">
                        </div>
                        <div class="font-semibold capitalize">
                            {{testimonial.name}}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class=" swiper-pagination"></div>
        </div>
    </div>
</section>

{% set js %} {% include "js/home.js" %} {% endset %}
<!-- feed it through our jsmin filter to minify -->
<script>
    {{ js | jsmin | safe }}
</script>

{% set css %} {% include "css/home.css" %} {% endset %}
<style>
  {{ css | cssmin | safe }}
</style>