<nav class="flex items-center px-9 py-5">
    <div>
        <img src="/static/img/agrivator.png" class="h-10" alt="agrivator" />
    </div>
    <div class="flex-grow"></div>
    <div class="uppercase font-medium text-lg text-primary mr-8">
        products
    </div>
    <div class="uppercase font-medium text-lg text-primary mr-8">
        services
    </div>
    <div class="uppercase font-medium text-lg text-primary mr-8">
        blog
    </div>
    <div class="uppercase font-medium text-lg text-primary">
        contact us
    </div>
</nav>