<nav class="flex gap-8 items-center px-4 lg:px-9">
    <div>
        <a href="/">
            <img src="/static/img/agrivator-nav.png" class="h-10" alt="agrivator" />
        </a>
    </div>
    <div class="flex-grow"></div>
    <div class="hidden lg:flex gap-8">
        <a href="/#products" class="uppercase font-medium text-lg text-primary underdash">
            products
        </a>
        <a href="/#services" class="uppercase font-medium text-lg text-primary underdash">
            services
        </a>
        {% if collections.blogs.length != 0 %}
              <a class="uppercase font-medium text-lg text-primary border-b-2 transition-all hover:border-primary {{ 'border-primary' if '/blogs' in page.url else 'border-transparent' }}" href="/blogs">
                blogs
            </a>
        {% endif %}
      
        <a href="/#contact" class="uppercase font-medium text-lg text-primary underdash">
            contact us
        </a>
    </div>
    <div class="block lg:hidden">
        <button class="outline-none nav-menu-button">
            <svg
                class="w-8 h-8 text-primary"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
            <path d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
	    </button>
    </div>
</nav>
 <div class="nav-menu h-0 overflow-y-hidden transition-all">
	<ul class="text-primary uppercase text-center">
		<li><a href="/#products" class="block text-sm px-2 py-4 hover:bg-primary hover:text-white">Products</a></li>
		<li><a href="/#services" class="block text-sm px-2 py-4 hover:bg-primary hover:text-white transition duration-300">Services</a></li>
		 {% if collections.blogs.length != 0 %}
            <li><a href="/blogs" class="block text-sm px-2 py-4 hover:bg-primary hover:text-white transition duration-300">Blogs</a></li>
        {% endif %}
		<li><a href="/#contact" class="block text-sm px-2 py-4 hover:bg-primary hover:text-white transition duration-300">Contact Us</a></li>
    </ul>
</div>
{% set navjs %} {% include "js/nav.js" %} {% endset %}
<!-- feed it through our jsmin filter to minify -->
<script>
    {{ navjs | jsmin | safe }}
</script>