<nav class="flex gap-8 items-center px-9 py-5">
    <div>
        <a href="/">
            <img src="/static/img/agrivator-nav.png" class="h-10" alt="agrivator" />
        </a>
    </div>
    <div class="flex-grow"></div>
    <div class="uppercase font-medium text-lg text-primary">
        products
    </div>
    <div class="uppercase font-medium text-lg text-primary">
        services
    </div>
    <div class="uppercase font-medium text-lg text-primary">
       <a href="/blogs">
            blogs
       </a>
    </div>
    <div class="uppercase font-medium text-lg text-primary">
        contact us
    </div>
</nav>